body {
    text-align: center;
    background-color: #fcab8a;
}

div.image {
    margin-bottom: 5vh;
    margin-top: 5vh;
}

img#gif {
    width: 25vw;
}

table::before {
    content: "♥";
}

table.result-table{
    display: inline-block;
    border-collapse: collapse;
}

table.result-table tr{
    background-color: #fddad1;
}

table.result-table tr.table-header {
    background-color: coral;
}

table.result-table td{
    border: 1px solid black;
    padding: 3px;
}